 :root {
  --main-color:#f5f5f5 ;
  --priary-dark: #1D1C20;
  --secondery-color: #A3DC2F;
  --orang-color: #FFC250;
  --white-color: #f2f2f2;
  --section-padding: 100px;
  
}
 /* start global rules */
 * {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
 ul {
     list-style-type: none;
 }
 body {
   font-family: "DM Sans", sans-serif;
   font-family: "Inter", sans-serif;
   text-transform: capitalize;
 }
 
 .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* start header */
.header {
 background-color: #fff;
 
 
/* backdrop-filter: blur(5px); */
} 
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 40px; */
  flex-wrap: wrap;
  position: relative;
  /* max-width: 100%; */
  /* height: 52px; */
  max-width: 100%;
  padding-top:20px;
  /* this code for testing */
  overflow: hidden;
  
 }

 /* justify-content: space-evenly; */
  .header .container .image {
  display: flex;
  justify-content: center;
  align-items: center;
}   

.header .container .image img {
 width: 18px;
}

.header .container .image span {
  color: var(--Primary-Dark, #1D1C20);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.2px; /* 81% */
}

/* .header .container nav {
  
} */
.header .container nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
/* .header .container nav ul li {

} */
.header .container nav ul li a {
  text-decoration: none;
  margin-right: 30px;
  color: var(--priary-dark);
  color: var(--Primary-Dark, #1D1C20);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 124.444% */
}

/* .header .button  {

} */
.header .button button {
  color: var(--Primary-Dark, #1D1C20);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.2px;
  width: 136px;
  height: 50px;
  border-radius: 64px;
  border: 1px solid #3B3B3B;
}
 
/* end header */
/* Start Introducing AI Automation */
.finance-solutions {
     padding-top: 108px;
     /* padding-bottom: 62.7px; */
}
.finance-solutions .container {
   text-align: center;
}
.finance-solutions .container .all{
    width: 263px;
    height: 33px;
    border-radius: 32px;
    padding: 4px 8px 4px 4px;
    border: 1px solid #364C09;
    background-color: transparent;
    border-bottom: none;
    position: relative;

     
}
.finance-solutions .container .all span:first-child {
      width: 45px;
    position: absolute;
    height: 25px;
    background-color: #a3dc2f;
    padding: 4px 8px 4px 8px;
    /* margin: 4px 4px 8px 4px; */
    top: 4px;
    left: 4px;
    border-radius: 64px;
    color: white;
}
.finance-solutions .container .all span:nth-of-type(2) {
position: absolute;
    left: 57px;
    top: 8px;
    width: 174px;
    height: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0;
    color: #1D1C20;
}
.finance-solutions .container .all img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8.5px;
    right: 8px;
}
.finance-solutions .container  .text {
  margin-top: 14px;
  margin-bottom: 56px;
}
.finance-solutions .container  .text h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: var(--priary-dark);
  padding-bottom: 15px;
  /* width: 1088px; */
  height: 168px;
  margin: 0;
}
.finance-solutions .container  .text p {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #9B9CA1;
}
.finance-solutions .container .text-box {
  position: relative;

}
.finance-solutions .container .text-box input {
    width: 640px;
    height: 72px;
    border-radius: 100px;
    border: 1px solid red;
    /* border: none; */
}
.finance-solutions .container .text-box input::placeholder {
  font-weight: 400px;
  font-size: 18px;
  line-height: 30px;
  padding-left: 33px;
  padding-top: 21px;
}
.finance-solutions .container .text-box button{
    width: 176px;
    height: 60px;
    background-color: var(--priary-dark);
    color: white;
    position: absolute;
    left: 920px;
    top: 6px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.finance-solutions .avatar-section {
        width: 880px;
    height: 64px;
    position: relative;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 62px;
    left: 250px;
  
}
.finance-solutions  .avatar-section .img-section {
    top: 4px;
    left: 405px;
    position: absolute;
}

.finance-solutions .container .avatar-section .img-section .image  {
  width: 32px;
  height: 32px;
  border-radius: 64px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  -o-border-radius: 64px;
  position: absolute;
    border: 2px solid white
}
.finance-solutions .container .avatar-section .img-section .image:hover {
  z-index: 100;
}
.finance-solutions .container .avatar-section .img-section .img-one {}
.finance-solutions .container .avatar-section .img-section .img-two {
  margin-left: 20px;
}
.finance-solutions .container .avatar-section .img-section .img-three {
  margin-left: 40px;
}
.finance-solutions .container .avatar-section .img-section .img-four {
  margin-left:60px;
}
.finance-solutions .container .avatar-section {
margin-left: 80px;
}
.finance-solutions .container .avatar-section span {
  position: absolute;
  left: 359.98 px;
  bottom: 0;
}

/*end Introducing AI Automation */
/* Start graph-Grid */
.graph-Grid {
  margin-top: 62px;
  width: 1536px;
  height: 747px;
  background-color: Gray 6;
  /* this code for testing to see the dimention of the element*/
  /* border: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns:  repeat(3, auto);
  grid-template-rows: 180px, 470px; 
}
.box-one {}
.box-two {}
.box-three {}
.box-four {}
.box-five {}
.box-six {}

.box-one,
.box-two,
.box-three, 
.box-four,
.box-five,
.box-six {
  background-color: rgba(224, 224, 224, 1);
  background-color: green;
}
/* End graph-Grid */